.container {
  border: 15px solid green;
  background-color: lightgrey;
  padding: 50px;
  margin: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: xx-large;
}

#quote {
  font-size: xx-large;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  text-align: center;
  margin: 15px;
}

#author {
  font-size: large;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.button{
  display: flex;
}

#copybtn {
  background-color: hsl(340deg 100% 32%);
  border: none;
  box-shadow: 10px 10px black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline-offset: 4px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#copybtn:active{
  transform: scale(0.9);
  box-shadow: 0px 0px;
}

#copybtn:hover {
  cursor: pointer;
}

#btn {
  background-color: rgb(163, 0, 54);
  border: none;
  color: white;
  box-shadow: 10px 10px black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: auto;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#btn:active{
  transform: scale(0.9);
  box-shadow: 0px 0px;
}

#btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .container {
    top: 45%;
    left: 45%;
  }
  #btn {
    padding: 8px 15px;
    margin-top: 10px;
  }
  #copybtn {
    padding: 8px 15px;
  }
  .button{
    display: inline-block;
  }
}
