.container {
  border: 15px solid green;
  background-color: lightgrey;
  height: auto;
  width: auto;
  width: fit-content;
  padding: 50px;
  margin: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: xx-large;
}

#quote {
  font-size: xx-large;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  text-align: center;
  margin: 15px;
}

#author {
  font-size: large;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

#btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) and (orientation:portrait) {
  .container {
    height: auto;
    width: auto;
    top: 45%;
    left: 45%;
  }
  #btn {
    padding: 8px 15px;
  }
}